
fiuba_1_postulantes_educacion\.csv

fiuba_2_postulantes_genero_y_edad\.csv

fiuba_3_vistas\.csv

fiuba_4_postulaciones\.csv

fiuba_5_avisos_online\.csv

fiuba_6_avisos_detalle\.csv

Data/Avisos-Detalle/

Data/Avisos-Online/

Data/Postulaciones/

Data/Postulantes-Educacion/

Data/Postulantes-Genero-Edad/

Data/Vistas/

Data/test_final_100k\.csv

Data/Avisos-Detalle-merge\.csv

Data/Postulaciones-merge\.csv

Data/postulantes_educacion-merge\.csv

Data/postulantes_genero_y_edad-merge\.csv

Data/Vistas-merge-reduced\.csv

Data/Vistas-merge\.csv

Data/\.ipynb_checkpoints/Avisos-Detalle-merge-checkpoint\.csv

Data/\.ipynb_checkpoints/postulantes_genero_y_edad-merge-checkpoint\.csv

Data/\.ipynb_checkpoints/test_final_100k-checkpoint\.csv

Data/optimized_avisos_detalle\.csv

Data/optimized_postulantes_merge\.csv

Data/unique_postulantes_con_intereses_postulaciones\.csv

Data/unique_postulantes_con_intereses_vistas\.csv

Data/unique_postulantes_con_intereses_vistas2\.csv

Data/PostMasVistas/postulaciones_mas_vistas\.csv

Data/postulaciones_mas_vistas_sin_nan\.csv

Data/POSTULANTES_FINAL\.csv

TestingSets/

Data/trainingSet\.csv

Data/postulaciones_limpias2\.csv

*.csv

Submit/

Data/

ddd/
